<div class="row course-search">
    <div class="col-md-6 btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Text to Search" 
                aria-label="Input group example" 
                aria-describedby="btnGroupAddon"
                [(ngModel)]="searchText">
        </div>
        <div class="input-group" role="group" aria-label="First group">
            <button 
              type="button" 
              class="btn btn-success"
              (click)="search()">Search</button>
        </div>
    </div>
</div>